 .classbtn{
      color: red;
    }
    .bag{
      background-color: green;
      padding: 5px 15px 5px 15px;
      border: none;
      border-radius: 7px;
    }
    .wish{
      border: 2px solid black;
      padding: 5px 35px 5px 25px;

    }